<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore 登录</title>

    <!-- 公共样式 -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- 登录页专属样式 -->
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

</head>
<body>

    <main class="auth-content">
        @RenderBody()
    </main>
</body>
</html>