<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore 登录</title>

    <!-- 公共样式 -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- 登录页专属样式 -->
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

    <!--错误消息弹出窗口的样式
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    -->
</head>
<body>

    <!--错误信息弹出式窗口相关html代码
    <div id="global-alert" class="alert-container hidden">
        <div class="alert-box">
            <span id="alert-message"></span>
            <button id="alert-close" class="close-btn">✖</button>
            <div class="alert-progress"></div>
        </div>
	</div>-->

    <main class="auth-content">
        @RenderBody()
    </main>
</body>
</html>