@page
@model OnlineBookStore.Pages.Account.LoginModel
@{
    Layout = "_AuthLayout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>

<!--错误信息弹出式窗口的检测错误信息的代码, 想做成全局通用的
    [2025/10/10] 先搁置
@if (!ViewData.ModelState.IsValid)
{
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            showAlert('@Html.Raw(ViewData.ModelState.Values.FirstOrDefault()?.Errors.FirstOrDefault()?.ErrorMessage)');
        });
    </script>
}
-->

<main class="main-content">
    <!--文本区域-->
    <div class="text-area">
        <h1 class="site-title">OnlineBookStore</h1>
        <p class="site-motto">让阅读成为一种生活方式</p>
    </div>

    <div class="features-area">
        <div class="content-container-login">
            <div class="login-title">用户登录</div>

            <form method="post" class="post-area">
                <div class="inputbox-area">
                    <div class="username-box">
                        <label>用户名</label>
                        <input asp-for="UserName" type="text" placeholder="请输入用户名" />
                    </div>

                    <div class="password-box">
                        <label>密码</label>
                        <input asp-for="Password" type="password" placeholder="请输入密码" />
				    </div> 
                </div>
                
                <div class="error-message">
                <!--显示错误信息-->
                @if (!string.IsNullOrEmpty(Model.BoxDownErrorMessage))
                {
                   @Model.BoxDownErrorMessage
                }
                </div>

                <div class="button-area">
                    <button type="submit" class="btn-login">立即登录</button>
                    <a asp-page="/Account/Register" class="btn-register">注册账号</a>
                </div>

            </form>
        </div>
    </div>
</main>
