@page
@model OnlineBookStore.Pages.Account.RegisterModel
@{
    Layout = "_AuthLayout";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
</head>

<!--[2025/10/10]以Login页面为基础修改即可--></>
<main class="main-content">
    <!--文本区域-->
    <div class="text-area">
        <h1 class="site-title">OnlineBookStore</h1>
        <p class="site-motto">让阅读成为一种生活方式</p>
    </div>

    <div class="features-area">
        <div class="content-container-login">
            <div class="login-title">用户注册</div>

            <form method="post" class="post-area">
                <div class="inputbox-area">

                    <div class="username-box">
                        <label>用户名</label>
                        <input asp-for="UserName" type="text" placeholder="请输入用户名" />
                    </div>

                    <div class="username-box">
                        <label>电子邮箱</label>
                        <input asp-for="Email" type="text" placeholder="请输入电子邮箱" />
                    </div>

                    <div class="password-box">
                        <label>密码</label>
                        <input asp-for="Password" type="password" placeholder="请输入密码" />
                    </div>

                    <div class="password-box">
                        <label>确认密码</label>
                        <input asp-for="ConfirmPassword" type="password" placeholder="请再次输入相同的密码" />
                    </div>
                </div>

                <div class="error-message">
                    <!--显示错误信息-->
                    @if (!string.IsNullOrEmpty(Model.BoxDownErrorMessage))
                    {
                        @Model.BoxDownErrorMessage
                    }
                </div>

                <div class="button-area">
                    <button type="submit" class="btn-login">注册用户</button>
                    <a asp-page="/Account/Login" class="btn-register">已有账号</a>
                </div>

            </form>
        </div>
    </div>
</main>
