@page
@model OnlineBookStore.Pages.Order.CreateModel
@{
    ViewData["Title"] = "创建订单";
}

<head>
    <link rel="stylesheet" href="~/css/content.css" asp-append-version="true" />
</head>

<div class="content-container">
    <h2>确认订单</h2>

    <form method="post">

        <div style="margin-top: 2rem;">
            <label><input type="radio" name="PaymentMethodString" value="WeChat" checked /> 微信支付</label>
            <label><input type="radio" name="PaymentMethodString" value="Alipay" /> 支付宝</label>
        </div>

        <div style="margin-top: 2rem; text-align:right;">
            <button type="submit" style="
                            border:solid;
                            border-radius : 12px;
                            height : 50px;
                            width : 90px;
                            font-size: 16px;
                            background-color: #ff6b00;
                            color: #fff;
                            font-weight: 600;">
                确认支付
            </button>
        </div>
    </form>
</div>
