@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/content.css" asp-append-version="true" />
</head>


<div class="page">

    <div class="main-content">
        <div class="text-area">
            <div class="space-area"></div>
            <h1 class="big-title"> OnlineBookStore</h1>
            <div class="small-title">轻松购书,拉近你与书的距离</div>
        </div>
            <div class="features-area">
        </div>
    </div>
</div>
